=begin
#REST API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0-beta

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.30
=end

module OpenProvider
  class AdditionalDataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get additional data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain_name Domain name without extension.
    # @option opts [String] :domain_extension Domain extension.
    # @option opts [String] :operation The operation.
    # @return [AdditionalDataGetAdditionalDataResponse]
    def get_additional_data(opts = {})
      data, _status_code, _headers = get_additional_data_with_http_info(opts)
      data
    end

    # Get additional data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain_name Domain name without extension.
    # @option opts [String] :domain_extension Domain extension.
    # @option opts [String] :operation The operation.
    # @return [Array<(AdditionalDataGetAdditionalDataResponse, Integer, Hash)>] AdditionalDataGetAdditionalDataResponse data, response status code and response headers
    def get_additional_data_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdditionalDataApi.get_additional_data ...'
      end
      # resource path
      local_var_path = '/v1beta/domains/additional-data'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain.name'] = opts[:'domain_name'] if !opts[:'domain_name'].nil?
      query_params[:'domain.extension'] = opts[:'domain_extension'] if !opts[:'domain_extension'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'AdditionalDataGetAdditionalDataResponse' 

      auth_names = opts[:auth_names] || ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdditionalDataApi#get_additional_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
