=begin
#REST API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0-beta

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.30
=end

module OpenProvider
  class AuthCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get auth code
    # @param id Domain id number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain_name Domain name without extension.
    # @option opts [String] :domain_extension Domain extension.
    # @option opts [String] :auth_code_type Type of transfer authorization code. external (default) or internal (for internal transfers between reseller accounts in Openprovider only).
    # @option opts [String] :sending_type Indicates how authcode should be provisioned to domain owner. For ru / xn--p1ai domains only. Possible values: sms, email letter.
    # @return [AuthcodeGetAuthCodeResponse]
    def get_auth_code(id, opts = {})
      data, _status_code, _headers = get_auth_code_with_http_info(id, opts)
      data
    end

    # Get auth code
    # @param id Domain id number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :domain_name Domain name without extension.
    # @option opts [String] :domain_extension Domain extension.
    # @option opts [String] :auth_code_type Type of transfer authorization code. external (default) or internal (for internal transfers between reseller accounts in Openprovider only).
    # @option opts [String] :sending_type Indicates how authcode should be provisioned to domain owner. For ru / xn--p1ai domains only. Possible values: sms, email letter.
    # @return [Array<(AuthcodeGetAuthCodeResponse, Integer, Hash)>] AuthcodeGetAuthCodeResponse data, response status code and response headers
    def get_auth_code_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthCodeApi.get_auth_code ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthCodeApi.get_auth_code"
      end
      # resource path
      local_var_path = '/v1beta/domains/{id}/authcode'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain.name'] = opts[:'domain_name'] if !opts[:'domain_name'].nil?
      query_params[:'domain.extension'] = opts[:'domain_extension'] if !opts[:'domain_extension'].nil?
      query_params[:'auth_code_type'] = opts[:'auth_code_type'] if !opts[:'auth_code_type'].nil?
      query_params[:'sending_type'] = opts[:'sending_type'] if !opts[:'sending_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'AuthcodeGetAuthCodeResponse' 

      auth_names = opts[:auth_names] || ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthCodeApi#get_auth_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset auth code
    # @param body 
    # @param id Domain id number
    # @param [Hash] opts the optional parameters
    # @return [AuthcodeResetAuthCodeResponse]
    def reset_auth_code(body, id, opts = {})
      data, _status_code, _headers = reset_auth_code_with_http_info(body, id, opts)
      data
    end

    # Reset auth code
    # @param body 
    # @param id Domain id number
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthcodeResetAuthCodeResponse, Integer, Hash)>] AuthcodeResetAuthCodeResponse data, response status code and response headers
    def reset_auth_code_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthCodeApi.reset_auth_code ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AuthCodeApi.reset_auth_code"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthCodeApi.reset_auth_code"
      end
      # resource path
      local_var_path = '/v1beta/domains/{id}/authcode/reset'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'AuthcodeResetAuthCodeResponse' 

      auth_names = opts[:auth_names] || ['Bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthCodeApi#reset_auth_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
