=begin
#REST API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0-beta

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.30
=end

module OpenProvider
  class ResellerServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get reseller
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :with_additional_data Retrieves objects with (1) or without (0) additional data.
    # @option opts [BOOLEAN] :with_statistics Indicates if reseller statistics should be retrieved.
    # @option opts [BOOLEAN] :with_settings Indicates if reseller settings should be retrieved.
    # @option opts [BOOLEAN] :with_contacts Indicates if reseller contacts should be retrieved.
    # @return [ResellerGetResellerResponse]
    def get_reseller(opts = {})
      data, _status_code, _headers = get_reseller_with_http_info(opts)
      data
    end

    # Get reseller
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :with_additional_data Retrieves objects with (1) or without (0) additional data.
    # @option opts [BOOLEAN] :with_statistics Indicates if reseller statistics should be retrieved.
    # @option opts [BOOLEAN] :with_settings Indicates if reseller settings should be retrieved.
    # @option opts [BOOLEAN] :with_contacts Indicates if reseller contacts should be retrieved.
    # @return [Array<(ResellerGetResellerResponse, Integer, Hash)>] ResellerGetResellerResponse data, response status code and response headers
    def get_reseller_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResellerServiceApi.get_reseller ...'
      end
      # resource path
      local_var_path = '/v1beta/resellers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'with_additional_data'] = opts[:'with_additional_data'] if !opts[:'with_additional_data'].nil?
      query_params[:'with_statistics'] = opts[:'with_statistics'] if !opts[:'with_statistics'].nil?
      query_params[:'with_settings'] = opts[:'with_settings'] if !opts[:'with_settings'].nil?
      query_params[:'with_contacts'] = opts[:'with_contacts'] if !opts[:'with_contacts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ResellerGetResellerResponse' 

      auth_names = opts[:auth_names] || ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResellerServiceApi#get_reseller\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update reseller
    # @param body 
    # @param id Object ID
    # @param [Hash] opts the optional parameters
    # @return [ResellerUpdateResellerResponse]
    def update_reseller(body, id, opts = {})
      data, _status_code, _headers = update_reseller_with_http_info(body, id, opts)
      data
    end

    # Update reseller
    # @param body 
    # @param id Object ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResellerUpdateResellerResponse, Integer, Hash)>] ResellerUpdateResellerResponse data, response status code and response headers
    def update_reseller_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResellerServiceApi.update_reseller ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ResellerServiceApi.update_reseller"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResellerServiceApi.update_reseller"
      end
      # resource path
      local_var_path = '/v1beta/resellers/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ResellerUpdateResellerResponse' 

      auth_names = opts[:auth_names] || ['Bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResellerServiceApi#update_reseller\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
